rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function role() {
      return signedIn()
        ? firestore.get(
            /databases/(default)/documents/users/$(request.auth.uid)
          ).data.role
        : null;
    }

    function isAdmin() {
      return role() == 'admin' || role() == 'super_admin';
    }

    match /products/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /categories/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read: if signedIn();
      allow write: if false;
    }
  }
}
